form {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 5px 5px 5px black;
    padding: 30px 0;
    text-align: center;
    max-width: 80%;
    margin: auto;
  }
  
  Button {
    width: 80px;
    height: 30px;
    background-color: #960202;
    color: white;
    border-radius: 50%;
    box-shadow: 2px 3px 3px 1px rgb(244, 248, 3);
  }

  Button:hover {
      background-color: black;
  }
  Label {
    margin: 5px;
  }

  Input {
    margin: 5px;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }