* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(
        90deg,
        rgba(181, 0, 0, 0.7) 0%,
        rgba(255, 251, 1, 0.7) 50%,
        rgba(181, 0, 0, 0.7) 100%
    );
}

section {
  text-align: center;
}

:root {
  --font-size: calc(10px + 1vmin);
}
